<style>
  .dot {
    display: none;
  }
  @media (max-width: 48rem) {
    h4 {
      font-size: 1.125rem;
    }
  }
  @media (max-width: 26.25rem) {
    h4 {
      font-size: 0.875rem !important;
    }
    p {
      font-size: 0.6875rem;
    }
    .dot {
      display: flex;
      position: absolute;
      left: -0.5rem;
      width: 0.25rem;
      height: 0.25rem;
      border-radius: 50%;
      background-color: #fff;
    }
    ul {
      list-style: none;
      gap: 0.75rem;
    }
  }
</style>

<div class="flex flex-col self-end">
  <ul class="opacity-75 flex gap-6 list-disc BodyS text-pureWhite">
    <li class="list-none">
      <p>{{ movieData.year }}</p>
    </li>
    <li>
      <div class="relative flex gap-[6px] items-center">
        <div class="dot"></div>
        <ng-container
          *ngIf="movieData.category === 'Movie'; then movieImage; else tvImage"
        ></ng-container>
        <ng-template #movieImage>
          <img class="w-3 h-3" src="../../../assets/icon-category-movie.svg" />
        </ng-template>
        <ng-template #tvImage>
          <img src="../../../assets/icon-category-tv.svg" />
        </ng-template>
        <p>
          {{ movieData.category }}
        </p>
      </div>
    </li>
    <li class="relative flex items-center">
      <div class="dot"></div>
      {{ movieData.rating }}
    </li>
  </ul>
  <h4 class="HeadingS text-pureWhite">{{ movieData.title }}</h4>
</div>
