<style>
  @media (max-width: 29.6875rem) {
    .header {
      padding: 0px !important;
    }
    .wrapper {
      padding: 1rem;
      border-radius: 0rem !important;
    }
    .logo {
      width: 1.5625rem;
      height: 1.25rem;
    }
    button {
      width: 1rem;
      height: 1rem;
    }
    ul {
      gap: 1.5rem !important;
    }
  }
  .active img {
    filter: brightness(1000%);
  }
</style>

<header
  class="header flex md:p-8 p-4 relative z-10 min-h-full flex-col md:flex-row"
>
  <div
    class="wrapper md:fixed flex items-center md:flex-col justify-between bg-semiDarkBlue rounded-[20px] md:min-h-[calc(100vh-64px)] md:mb-6 mb-4 md:py-8 md:px-7 px-6 py-7"
  >
    <div
      class="content flex md:justify-start justify-between md:flex-col items-center h-full w-full"
    >
      <img
        src="../../../assets//logo.svg"
        class="logo md:mb-[75px]"
        alt="logo"
      />
      <nav aria-label="nav">
        <ul class="flex md:flex-col items-center gap-10">
          <li>
            <button
              routerLink="/home"
              [ngClass]="{ active: activeRoute === 'home' }"
              aria-label="go to home page"
            >
              <img
                src="../../../assets/icon-nav-home.svg"
                alt=""
                aria-hidden="true"
              />
            </button>
          </li>
          <li>
            <button
              routerLink="/movies"
              [ngClass]="{ active: activeRoute === 'movies' }"
              aria-label="go to movies page"
            >
              <img
                src="../../../assets/icon-nav-movies.svg"
                alt=""
                aria-hidden="true"
              />
            </button>
          </li>
          <li>
            <button
              routerLink="/tv-series"
              [ngClass]="{ active: activeRoute === 'tv-series' }"
              aria-label="go to tv series page"
            >
              <img
                src="../../../assets/icon-nav-tv-series.svg"
                alt=""
                aria-hidden="true"
              />
            </button>
          </li>
          <li>
            <button
              routerLink="/bookmarked"
              [ngClass]="{ active: activeRoute === 'bookmarked' }"
              aria-label="go to bookmarked page"
            >
              <img
                src="../../../assets/icon-nav-bookmark.svg"
                alt=""
                aria-hidden="true"
              />
            </button>
          </li>
        </ul>
      </nav>
      <logout-button-component
        class="flex items-end md:absolute bottom-8"
      ></logout-button-component>
    </div>
  </div>
</header>
