<style>
  .card {
    animation: fadeInOut 0.6s ease-in-out;
  }
</style>

<div class="mb-5">
  <input-component
    [placeholderText]="'Search for bookmarked shows'"
  ></input-component>
  <h2 class="HeadingL text-white my-8">Bookmarked Movies</h2>
  <div class="flex flex-wrap gap-10">
    <div
      *ngFor="let movie of movies"
      class="card relative rounded-lg flex gap-2 flex-col"
    >
      <div
        class="image w-[280px] h-[174px] rounded-lg"
        [style.background-image]="'url(' + movie.thumbnail.regular.large + ')'"
      >
        <bookmarkbutton-component
          [showTitle]="movie.title"
          [showBookmarkedImg]="movie.isBookmarked"
        ></bookmarkbutton-component>
      </div>
      <movieInfo-component
        [movieData]="{ 
          title: movie.title, 
          year: movie.year.toString(), 
          category: movie.category,
          rating: movie.rating, 
        }"
      ></movieInfo-component>
    </div>
  </div>

  <h2 class="text-white HeadingL my-8">Bookmarked TV Series</h2>

  <div class="flex flex-wrap gap-10">
    <div
      *ngFor="let serie of series"
      class="card relative rounded-lg flex gap-2 flex-col"
    >
      <div
        class="image w-[280px] h-[174px] rounded-lg"
        [style.background-image]="'url(' + serie.thumbnail.regular.large + ')'"
      >
        <bookmarkbutton-component
          [showTitle]="serie.title"
          [showBookmarkedImg]="serie.isBookmarked"
        ></bookmarkbutton-component>
      </div>
      <movieInfo-component
        [movieData]="{ 
          title: serie.title, 
          year: serie.year.toString(), 
          category: serie.category,
          rating: serie.rating, 
        }"
      ></movieInfo-component>
    </div>
  </div>
</div>
