<style>
  @media (max-width: 48rem) {
    .wrapper-content {
      flex-direction: column;
    }
    main {
      padding-top: 0.75rem;
    }
  }
</style>

<ng-container *ngIf="isAuthLayoutRoute(); else defaultLayout">
  <auth-layout></auth-layout>
</ng-container>

<ng-template #defaultLayout>
  <div class="wrapper-content flex bg-darkBlue">
    <header-component></header-component>
    <div class="w-full md:pt-16 md:pl-[90px] md:pr-5">
      <router-outlet></router-outlet>
      <footer-component></footer-component>
    </div>
  </div>
</ng-template>
