<style>
  @media (max-width: 48rem) {
    .wrapper-content {
      flex-direction: column;
    }
    main {
      padding-top: 0.75rem;
    }
  }
</style>

<!-- Checks the current route and applies the appropriate layout -->
<ng-container *ngIf="isAuthLayoutRoute(); else defaultLayout">
  <auth-layout></auth-layout>
</ng-container>

<ng-template #defaultLayout>
  <div class="wrapper-content flex bg-darkBlue">
    <header-component></header-component>
    <div class="w-full pt-16">
      <router-outlet></router-outlet>
      <footer-component></footer-component>
    </div>
  </div>
</ng-template>
