<div class="w-full max-w-[80.5rem] mx-auto md:px-0 px-4">
  <div class="flex flex-col gap-4 mb-2">
    <input-component
      [placeholderText]="'Search for ' + formattedCategory + ' ' + mediaType"
    ></input-component>

    <h1 class="text-white text-2xl mb-4 capitalize md:text-start text-center">
      {{ formattedCategory }} ({{ mediaType }})
    </h1>
  </div>

  <div *ngIf="items$ | async as items">
    <div class="flex flex-wrap gap-y-6 gap-x-3 md:justify-start justify-center">
      <media-card
        *ngFor="let item of items"
        [item]="item"
        [isTv]="isTvSeries"
      />
    </div>

    <div class="flex justify-center items-center gap-2 mt-6 text-white text-sm">
      <button
        class="flex items-center gap-1 px-4 py-2 border border-white rounded-l hover:bg-white hover:text-black disabled:opacity-50 disabled:cursor-not-allowed"
        [disabled]="page <= 1"
        (click)="goToPage(page - 1)"
      >
        <span class="text-lg">←</span> Prev
      </button>

      <div class="px-4 py-2 bg-white text-black">
        Page {{ page }} of {{ totalPages }}
      </div>

      <button
        class="flex items-center gap-1 px-4 py-2 border border-white rounded-r hover:bg-white hover:text-black disabled:opacity-50 disabled:cursor-not-allowed"
        [disabled]="page >= totalPages"
        (click)="goToPage(page + 1)"
      >
        Next <span class="text-lg">→</span>
      </button>
    </div>
  </div>
</div>
