<style>
  @media (max-width: 48rem) {
    .wrapper {
      padding-left: 1.5625rem;
    }
  }
  @media (max-width: 26.25rem) {
    .wrapper {
      padding-left: 1rem;
    }
    .card-item {
      width: 15rem;
      height: 8.75rem;
      padding: 1rem;
    }
    section {
      height: 10.25rem;
    }
  }
  h2 {
    font-size: 1.25rem;
  }
  .card {
    animation: fadeInOut 0.6s ease-in-out;
  }
</style>

<div class="wrapper">
  <h2 class="HeadingL text-white mb-6">Trending</h2>
  <section
    class="custom_scrollbar rounded-lg flex flex-col items-start gap-6 w-full h-[254px] relative overflow-x-auto"
  >
    <div class="card flex gap-6 absolute pr-4">
      <div class="flex gap-6 absolute pr-4">
        <div
          *ngFor="let movie of movies$ | async"
          class="card-item flex pt-4 pb-6 px-6 relative bg-center bg-no-repeat bg-cover w-[470px] h-[230px] rounded-lg draggable-item"
          [style.background-image]="'url(' + movie.thumbnailLarge + ')'"
        >
          <bookmarkbutton-component
            [showTitle]="movie.movieData.title"
            [showBookmarkedImg]="movie.isBookmarked"
          ></bookmarkbutton-component>

          <movieInfo-component
            class="self-end"
            [movieData]="movie.movieData"
          ></movieInfo-component>
        </div>
      </div>
    </div>
  </section>
</div>
