<h2 class="HeadingL text-white mb-6">Trending</h2>
<section
  class="custom_scrollbar rounded-lg flex flex-col items-start gap-6 w-full h-[254px] relative overflow-x-auto"
>
  <div class="flex gap-6 absolute pr-4">
    <div class="flex gap-6 absolute pr-4">
      <div
        *ngFor="let movie of movies$ | async"
        class="flex pt-4 pb-6 px-6 relative bg-center bg-no-repeat bg-cover w-[470px] h-[230px] rounded-lg draggable-item"
        [style.background-image]="'url(' + movie.thumbnailLarge + ')'"
      >
        <bookmarkbutton-component></bookmarkbutton-component>

        <movieInfo-component
          class="self-end"
          [movieData]="movie.movieData"
        ></movieInfo-component>
      </div>
    </div>
  </div>
</section>
