<style>
  .card {
    animation: fadeInOut 0.6s ease-in-out;
  }
</style>

<div class="flex flex-col gap-6 pl-4 md:pl-0">
  <div class="flex items-center justify-between w-full pr-5 md:pr-0">
    <h2 class="HeadingL text-white md:mb-3 flex items-center gap-3">
      {{ title }}
      <ng-container *ngIf="hasSpecificMediaType$ | async">
        <div
          class="flex items-center gap-2 px-2 py-1 border border-gray border-solid rounded-md mt-1"
        >
          <span class="text-gray BodyM">{{ mediaType | titlecase }}</span>
          <img
            [src]="'../../../assets/icon-category-' + mediaType + '.svg'"
            [alt]="mediaType"
            class="w-4 h-4"
          />
        </div>
      </ng-container>
    </h2>
    <see-more-button
      [href]="linkTo"
      [ariaLabel]="'see all ' + title.toLowerCase()"
    ></see-more-button>
  </div>

  <section
    class="custom_scrollbar rounded-lg flex flex-col items-start gap-6 w-full md:h-[254px] h-[200px] relative overflow-x-auto"
  >
    <div class="card flex gap-6 absolute pr-4">
      <button
        *ngFor="let item of items$ | async"
        class="card-item cursor-pointer flex relative bg-center bg-no-repeat bg-cover w-[300px] md:w-[470px] h-[180px] md:h-[230px] rounded-lg draggable-item"
        [style.background-image]="
          'url(https://image.tmdb.org/t/p/original/' + item.backdrop_path + ')'
        "
        [routerLink]="'/media/' + item.media_type + '/' + item.id"
        [attr.aria-label]="
          'Open details for ' +
          item.title +
          (item.release_date
            ? ' (' + (item.release_date | date : 'yyyy') + ')'
            : '')
        "
      >
        <movieInfo-component
          class="self-end text-start w-full"
          [title]="mediaType === 'movies' ? item.title : item.name"
          [media_type]="item.media_type"
          [release_date]="
            mediaType === 'movies' ? item.release_date : item.first_air_date
          "
        ></movieInfo-component>
      </button>
    </div>
  </section>
</div>
