<div class="flex flex-col self-end">
  <ul class="opacity-75 flex gap-6 list-disc BodyS text-pureWhite">
    <li class="list-none">
      <p>{{ movieData.year }}</p>
    </li>
    <li>
      <div class="flex gap-[6px] items-center">
        <ng-container
          *ngIf="movieData.type === 'Movie'; then movieImage; else tvImage"
        ></ng-container>
        <ng-template #movieImage>
          <img class="w-3 h-3" src="../../../assets/icon-category-movie.svg" />
        </ng-template>
        <ng-template #tvImage>
          <img src="../../../assets/icon-category-tv.svg" />
        </ng-template>
        <p>
          {{ movieData.type }}
        </p>
      </div>
    </li>
    <li>{{ movieData.rating }}</li>
  </ul>
  <h4 class="HeadingS text-pureWhite">{{ movieData.title }}</h4>
</div>
