<style>
  @media (max-width: 48rem) {
    .wrapper_input {
      padding-left: 1.5625rem;
    }
  }
  @media (max-width: 26.25rem) {
    .wrapper_input {
      padding-left: 1rem;
    }
    .wrapper {
      gap: 0.75rem;
    }
    .wrapper-result {
      padding: 0rem 1rem 1rem 1rem;
    }
  }
  @media (max-width: 48rem) {
    .wrapper-result {
      padding: 0rem 1.5625rem 1.5625rem 1.5625rem;
    }
    .wrapper-content {
      display: grid !important;
      grid-template-columns: 1fr 1fr;
      align-items: center;
      gap: 1.5rem;
      width: 100%;
    }
    .card .image {
      width: 100%;
      background-size: cover;
      background-position: center;
      height: 8.75rem;
    }
    .card {
      width: 100% !important;
    }
  }
  @media (max-width: 37.25rem) {
    .result {
      font-size: 1.25rem;
      letter-spacing: -0.0195rem;
      margin: 0rem 0rem 1rem 0rem;
    }
    h2 {
      font-size: 1.25rem;
      margin: 1rem 0rem;
    }
    .wrapper-result {
      padding: 0rem 1rem 1rem 1rem;
    }
    .wrapper-content {
      gap: 0.9375rem;
    }
    .card .image {
      height: 6.875rem;
    }
  }
</style>

<div class="wrapper flex flex-col gap-8">
  <div class="wrapper_input">
    <input-component
      [placeholderText]="'Search for movies or TV series'"
    ></input-component>
  </div>

  <div class="wrapper-result" *ngIf="searchTerm.length !== 0">
    <p class="result HeadingL mb-6 text-white">
      Found {{ filteredShows.length }} results for '{{ searchTerm }}'
    </p>

    <div class="wrapper-content flex flex-wrap gap-10">
      <div
        *ngFor="let show of filteredShows"
        class="card relative rounded-lg flex gap-2 flex-col"
      >
        <div
          class="image w-[280px] h-[174px] rounded-lg bg-center bg-cover"
          [style.background-image]="'url(' + show.thumbnail.regular.large + ')'"
        >
          <bookmarkbutton-component
            [showTitle]="show.title"
            [showBookmarkedImg]="show.isBookmarked"
          ></bookmarkbutton-component>
        </div>
        <movieInfo-component
          [movieData]="{ 
            title: show.title, 
            year: show.year.toString(), 
            category: show.category,
            rating: show.rating, 
          }"
        ></movieInfo-component>
      </div>
    </div>
  </div>

  <trending-component *ngIf="searchTerm.length === 0"></trending-component>
  <recommended-component
    *ngIf="searchTerm.length === 0"
  ></recommended-component>
</div>
