<style>
  .input::placeholder {
    color: #fff;
    opacity: 0.5;
  }
  .input {
    caret-color: #fc4747;
  }
</style>

<div
  class="min-h-screen flex flex-col gap-20 items-center justify-center bg-darkBlue"
>
  <img src="../../../assets/logo.svg" />
  <main
    class="flex w-full items-center flex-col max-w-[400px] rounded-[20px] bg-semiDarkBlue p-8"
  >
    <h1 class="HeadingL text-white self-start mb-10">Login</h1>
    <form class="w-full">
      <fieldset class="flex flex-col w-full justify-between h-full gap-6">
        <legend class="sr-only">enter your information</legend>

        <label for="email">
          <input
            class="BodyM input w-full bg-transparent border-b border-b-1 px-4 pt-2 pb-4 border-greyishBlue outline-none text-pureWhite focus:border-pureWhite cursor-pointer"
            type="email"
            placeholder="Email address"
            name="email"
            id="email"
          />
        </label>

        <label for="password">
          <input
            class="BodyM input w-full bg-transparent border-b border-b-1 px-4 pt-2 pb-4 border-greyishBlue outline-none text-pureWhite focus:border-pureWhite cursor-pointer"
            type="password"
            name="password"
            placeholder="Password"
            id="password"
          />
        </label>

        <button
          class="bg-red BodyM mt-4 h-12 text-pureWhite hover:bg-pureWhite hover:text-semiDarkBlue rounded-md"
          type="submit"
        >
          Login to your account
        </button>
      </fieldset>
    </form>
    <div class="wrapper flex gap-2 mt-6">
      <p class="BodyM text-pureWhite">Don’t have an account?</p>
      <button
        type="button"
        (click)="navigateToSignupRoute()"
        class="BodyM text-red hover:underline"
      >
        Sign Up
      </button>
    </div>
  </main>
</div>
