<style>
  .password {
    background: url("../../../assets/icon-password.svg") no-repeat !important;
  }
  .input {
    caret-color: #fc4747;
    background: url("../../../assets/icon-email.svg") no-repeat;
    background-position: 0.625rem 0.625rem !important;
    padding-left: 2.25rem;
  }
  .input:focus {
    background-position: -1.25rem !important;
    padding-left: 1rem;
  }
  @media (max-width: 26.25rem) {
    .wrapper-content {
      padding: 1.5rem;
    }
    main {
      padding: 1.5rem;
    }
  }
</style>

<div
  class="wrapper-content min-h-screen flex flex-col gap-20 items-center justify-center bg-darkBlue"
>
  <img src="../../../assets/logo.svg" />
  <main
    class="flex w-full items-center flex-col max-w-[400px] rounded-[20px] bg-semiDarkBlue p-8"
  >
    <h1 class="HeadingL text-white self-start mb-10">Login</h1>
    <form class="w-full" (ngSubmit)="onSubmit(form)" #form="ngForm">
      <fieldset class="flex flex-col w-full justify-between h-full gap-6">
        <legend class="sr-only">enter your information</legend>

        <label for="email" class="relative">
          <input
            class="BodyM input w-full bg-transparent border-b border-b-1 pr-4 pt-2 pb-4 border-greyishBlue outline-none text-pureWhite focus:border-pureWhite cursor-pointer placeholder:text-white placeholder:opacity-50"
            type="email"
            placeholder="Email address"
            name="email"
            id="email"
            [(ngModel)]="email"
            required
          />
          <span class="absolute right-0 text-red BodyS -top-2" *ngIf="showError"
            >User does not exist</span
          >
        </label>

        <label for="password" class="relative">
          <input
            class="BodyM password input w-full bg-transparent border-b border-b-1 pr-4 pt-2 pb-4 border-greyishBlue outline-none text-pureWhite focus:border-pureWhite cursor-pointer placeholder:text-white placeholder:opacity-50"
            type="password"
            name="password"
            placeholder="Password"
            id="password"
            [(ngModel)]="password"
            required
          />
          <button
            class="absolute w-[22px] h-[22px] right-0 top-2"
            type="button"
            (click)="togglePasswordVisibility('password')"
          >
            <img
              class="brightness-[0]"
              *ngIf="passwordVisible"
              src="../../../assets/eye.svg"
            />
            <img
              class="brightness-[1000]"
              *ngIf="!passwordVisible"
              src="../../../assets/eye-block.png"
            />
          </button>
        </label>

        <button-component
          [buttonText]="'Login to your account'"
          [buttonType]="'submit'"
        ></button-component>
      </fieldset>
    </form>
    <div class="wrapper flex gap-2 mt-6 flex-wrap">
      <p class="BodyM text-pureWhite">Don’t have an account?</p>
      <button
        type="button"
        (click)="navigateToSignupRoute()"
        class="BodyM text-red hover:underline"
      >
        Sign Up
      </button>
    </div>
  </main>
</div>
