<style>
  @media (max-width: 48rem) {
    .wrapper {
      padding: 0rem 1.5625rem 1.5625rem 1.5625rem;
    }
  }
  @media (max-width: 26.25rem) {
    .wrapper {
      padding: 0rem 1rem 1rem 1rem;
    }
  }
</style>

<div class="wrapper">
  <input-component [placeholderText]="'Search for TV series'"></input-component>
  <h2 class="HeadingL text-white my-8">TV Series</h2>
  <div class="flex flex-wrap gap-10">
    <div
      *ngFor="let movie of filteredSeries"
      class="relative rounded-lg flex gap-2 flex-col"
    >
      <div
        class="image w-[280px] h-[174px] rounded-lg"
        [style.background-image]="'url(' + movie.thumbnail.regular.large + ')'"
      >
        <bookmarkbutton-component
          [showTitle]="movie.title"
        ></bookmarkbutton-component>
      </div>
      <movieInfo-component
        [movieData]="{ 
          title: movie.title, 
          year: movie.year.toString(), 
          category: movie.category,
          rating: movie.rating, 
        }"
      ></movieInfo-component>
    </div>
  </div>
</div>
