<style>
  @media (max-width: 26.25rem) {
    .wrapper {
      padding: 0rem 1rem 1rem 1rem;
    }
  }
  .card {
    animation: fadeInOut 0.6s ease-in-out;
  }
  @media (max-width: 48rem) {
    .wrapper {
      padding: 0rem 1.5625rem 1.5625rem 1.5625rem;
    }
    .wrapper-content {
      display: grid !important;
      grid-template-columns: 1fr 1fr;
      align-items: center;
      gap: 1.5rem;
      width: 100%;
    }
    .card .image {
      width: 100%;
      background-size: cover;
      background-position: center;
      height: 8.75rem;
    }
    .card {
      width: 100% !important;
    }
  }
  @media (max-width: 37.25rem) {
    .result {
      font-size: 1.25rem;
      letter-spacing: -0.0195rem;
      margin: 1rem 0rem;
    }
    h2 {
      font-size: 1.25rem;
      margin: 1rem 0rem;
    }
    .wrapper {
      padding: 0rem 1rem 1rem 1rem;
    }
    .wrapper-content {
      gap: 0.9375rem;
    }
    .card .image {
      height: 6.875rem;
    }
  }
</style>

<div
  class="wrapper flex flex-col gap-8 w-full max-w-[1440px] lg:px-[40px] mx-auto"
>
  <input-component [placeholderText]="'Search for movies'"></input-component>

  <div class="wrapper-content flex flex-wrap gap-10">
    <div
      *ngFor="let genre of genres | async"
      class="card relative rounded-lg flex gap-2 flex-col"
    >
      <button
        routerLink="/{{ basePath }}/genre/{{ genre.name.toLowerCase() }}/{{
          genre.id
        }}/1"
        class="card w-[160px] h-[140px] rounded-md bg-greyishBlue flex items-center justify-center text-center"
      >
        <h4 class="HeadingXS text-pureWhite">{{ genre.name }}</h4>
      </button>
    </div>
  </div>
</div>
