<button
  class="cursor-pointer w-full md:max-w-[20.625rem] max-w-[25rem] flex flex-col gap-2"
  [routerLink]="['/media', isTv ? 'tv' : 'movie', item.id]"
  [attr.aria-label]="
    'Navigate to ' + (isTv ? item.name : item.title) + ' details'
  "
>
  <img
    [src]="'https://image.tmdb.org/t/p/original/' + item.backdrop_path"
    [alt]="item.title || item.name"
    class="w-full rounded-md"
  />

  <movieInfo-component
    class="self-end text-start w-full"
    [title]="isTv ? item.name : item.title"
    [media_type]="isTv ? 'tv-series' : 'movie'"
    [release_date]="isTv ? item.first_air_date : item.release_date"
    [show_shadow]="false"
  ></movieInfo-component>
</button>
